# Nombre de la aplicación

APP_NAME=

# Puerto de la máquina real a través del cual será accesible el servidor web runserver del contenedor

HTTP_PORT=

#Puerto de la máquina real atraves del cual se accede a la BBDD

POSTGRES_PORT=

DB_HOST=
DB_PORT=
DB_DB=
DB_USER=
DB_PASSWORD=

DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

DJANGO_SECRET_KEY=